.all-maps {
  width: min(1200px, 95vw);
  margin: 2rem auto;
}
.all-maps ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.state-postcard {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent-color);
  /* filter: saturate(0); */
}
.state-postcard * {
  transition: var(--global-transition);
}
/* .state-postcard::after { */
/*   content: ""; */
/*   position: absolute; */
/*   inset: 0; */
/*   background-color: rgba(var(--accent), 0.8); */
/*   opacity: 1; */
/*   z-index: 3; */
/*   pointer-events: none; */
/*   filter: saturate(1); */
/* } */
.state-postcard:hover {
  border: 1px solid white;
  & .card-img {
    filter: saturate(1);
    opacity: 1;
  }
  & h3 {
    opacity: 0;
  }
}
.card-img,
.card-img-name {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
}

.card-img {
  filter: saturate(0);
  opacity: 0.5;
  z-index: 2;
}
.card-img-name {
  z-index: 4;
}
.state-postcard a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.state-postcard h3 {
  text-align: center;
  position: relative;
  z-index: 3;
  width: 100%;
  color: white;
  background: black;
}
#state-ny:hover .card-img-name,
#state-ga:hover .card-img-name {
  animation:
    wiggle 0.5s,
    dance 2s,
    vapor 500ms;
  animation-delay: 2000ms;
  animation-iteration-count: infinite;
}
/* turned off; include wander.js to activate */
#state-ny .card-img-name.clicked,
#state-ga .card-img-name.clicked {
  top: var(--top);
  left: var(--left);
  z-index: 10000;
  animation:
    dance 2s linear infinite,
    vapor 500ms linear infinite;
}

@keyframes vapor {
  0%,
  100% {
    filter: sepia(1) hue-rotate(222deg) saturate(1.33);
  }
  50% {
    filter: sepia(1) hue-rotate(162deg) saturate(1.33);
  }
}
@keyframes wander {
  0%,
  100% {
    transform-origin: center;
    transform: scale(1.05);
  }
  50% {
    transform-origin: right;
    transform: scale(1.1);
  }
  75% {
    transform-origin: var(--changer);
    transform: scale(1.15);
  }
}
/* @keyframes wander { */
/*   0% { */
/*     transform: translate(0, 0) rotate(0deg); */
/*   } */
/*   25% { */
/*     transform: translate(50px, -30px) rotate(15deg); */
/*   } */
/*   50% { */
/*     transform: translate(-20px, 70px) rotate(-10deg); */
/*   } */
/*   75% { */
/*     transform: translate(60px, 10px) rotate(5deg); */
/*   } */
/*   100% { */
/*     transform: translate(0, 0) rotate(0deg); */
/*   } /* Return to start or new position */
/* } */
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes dance {
  0% {
    transform: scale(1.1);
  }

  5% {
    transform: scale(1);
  }

  20% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  55% {
    transform: scale(1);
  }

  70% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(1);
  }

  95% {
    transform: scale(1);
  }
}

/* leaflet map */

#usa-map {
  padding-top: 70px;
  /* border: 1px solid white; */
  height: 77vh;
  width: 95vw;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  /* background-size: contain; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}
.leaflet-tooltip {
  border-color: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  /* background: transparent !important; */
}

.map-nav {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    object-fit: contain;
  }
  & .state-postcard {
    filter: none;
    height: 33vh;
    width: 33vw;
    position: absolute;
    transform-origin: center;
    flex: 1;
    border: none;
    z-index: 9001;
    transition: 500ms;
    & .card-img {
      opacity: 1;
      filter: drop-shadow(0 0 10px rgb(0, 0, 0, 0.5));
    }
  }
}

.state-postcard.left {
  /* bottom: 0; */
  /* right: 0; */
  top: 66%;
  left: 66%;
  transform: translate(0, -66%) rotate(-9deg);
}
.state-postcard.right {
  top: 0;
  left: 0;
  transform: translate(0, 50%) rotate(-9deg);
}

/* .state-boundary { */
/*   fillcolor: var(--fg-color); */
/*   color: var(--bg-color); */
/*   weight: 1; */
/*   fillopacity: 0.8; */
/* } */
/* .state-boundary:hover { */
/*   fillcolor: #fff; */
/*   fillopacity: 0.9; */
/*   weight: 2; */
/* } */
/* Hide zoom controls and attribution */
.leaflet-control-zoom,
.leaflet-control-attribution {
  display: none !important;
}
