/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  --accent-bg-color: color-mix(in oklab, var(--bg-color), var(--accent-color));
  --accent-fg-color: color-mix(in oklab, var(--fg-color), var(--accent-color));
  /* timeline color; the range slider can't be customized without rebuilding it (the ticks, mainly) */
  --tl-fg-color: rgb(var(--midnight));
  --tl-bg-color: rgb(var(--granite));
  --county-fg-color: rgb(var(--midnight));
  --county-bg-color: rgb(var(--granite));
  --accent-color: rgb(var(--accent));
  --fg-color: rgb(var(--fg));
  --bg-color: rgb(var(--bg));
}
body.dark {
  --fg: var(--granite);
  --bg: var(--midnight);
  --accent: var(--lake);
  --county-accent-color: rgb(var(--sapphire));
}
body:not(.dark) {
  --fg: var(--midnight);
  --bg: var(--granite);
  --accent: var(--sapphire);
  --county-accent-color: rgb(var(--lake));
}
main {
  flex: 1;
}
/* Header styles */
.main-header {
  position: sticky;
  top: 0;
  z-index: 777;
  flex-basis: 50px;
  /* background-color: var(--accent-color); */
  background-color: var(--bg-color);
  color: var(--accent-color);
  padding: 3px 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: var(--shadow);
  border-bottom: 1px solid var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  color: var(--accent-color);
  font-size: 1.5rem;
  /* padding-inline: 1rem; */
}

.nav-menu {
  position: relative;
}
.nav-menu span {
  /* width: 10ch; */
  padding: 3px 9px;
}
.dmt-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu,
.nav-menu * {
  transition: var(--global-transition);
}
.nav-menu ul {
  list-style-type: none;
  opacity: 0;
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 878;
  max-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
  width: 200px;
  padding-right: 0 !important;
  transform: translateX(calc(-100% + 50px));
  & li {
    background-color: var(--bg-color);
    &:hover {
      filter: brightness(2);
    }
  }
}

.nav-menu:has(.open) ul,
.nav-menu:hover ul {
  pointer-events: auto;
  opacity: 1;
  top: 100%;
  left: 0;
  right: 0;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
  box-shadow: var(--shadow);
  border: 1px solid var(--fg-color);
}
body.dark .nav-menu:has(.open) ul,
body.dark .nav-menu:hover ul {
}

.nav-menu li a {
  display: block;
  width: 100%;
  padding: 3px 9px;
  color: var(--fg-color);
  border: 1px solid var(--fg-color);
}
.nav-menu:has(.open) li,
.nav-menu.open li,
.nav-menu:hover li {
  border: 1px solid var(--bg-color);
  /* overflow: auto; */
}

.in-text-link {
  margin-inline: 0.5ch;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1px;
}
@media (max-width: 768px) {
  .nav-menu {
    width: unset;
  }
  .nav-menu ul {
    /* width: 200px !important; */
    width: 200px;
  }
  .nav-menu.open ul,
  .nav-menu:hover ul {
    /* left: -14ch !important; */
    left: auto !important;
  }
}

.text-page {
  width: min(1000px, 95vw);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.1rem;
  padding-bottom: 3rem;
}
.text-page :is(h1, h2, h3, h4) {
  margin-top: 0.76rem;
  border-bottom: 1px solid var(--fg-color);
}
.text-page li {
  margin: 0.5rem 0;
  /* list-style-type: none; */
  /* font-size */
}
.text-page table {
  border-collapse: collapse;
}
.text-page :is(th, td) {
  border: 1px solid rgba(var(--fg), 0.5);
  padding: 3px 9px;
}
.text-page thead {
  position: sticky;
  top: 60px;
  background: var(--bg-color);
}
.text-page :is(ul, ol) {
  padding-left: 2rem;
}
.text-page td {
  text-align: right;
  font-variant-numeric: tabular-nums;
  &:first-child {
    text-align: left;
  }
}
.text-page img {
  width: 300px;
  height: 200px;
  object-fit: contain;
}

body:not(.dark) .text-page img {
  filter: invert(1);
}

#menu-button {
  background: var(--bg-color);
  border: none;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
  &.open {
    background: var(--accent-bg-color);
  }
}

.line {
  pointer-events: none;
  width: 25px;
  height: 3px;
  background: var(--fg-color);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

.line1 {
  transform: translate3d(0, -8px, 0);
}

.line2 {
  transform: translate3d(0, 0, 0);
}

.line3 {
  transform: translate3d(0, 8px, 0);
}
#menu-button:hover,
#nav-menu:has(.open),
#nav-menu.open {
  & .line1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  & .line2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  & .line3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}
/* body { */
/*   background-size: cover; */
/*   background-position: center; */
/*   background-attachment: fixed; */
/* } */
/* body.dark { */
/*   background-image: url("/athf/static/images/usa_dark-blank.webp"); */
/* } */
/* body:not(.dark) { */
/*   background-image: url("/athf/static/images/usa_light-blank.webp"); */
/* } */
/* .main-header { */
/*   background-image: linear-gradient( */
/*     30deg, */
/*     rgba(var(--mulberry), 0.5) 0% 40%, */
/*     rgba(var(--flame), 0.5) 40% 100% */
/*   ); */
/*   background-size: cover; */
/*   background-repeat: no-repeat; */
/*   background-attachment: fixed; */
/* } */
/**/
/* .bg-overlay { */
/*   position: fixed; */
/*   inset: 0; */
/*   z-index: -1; */
/*   background-image: linear-gradient( */
/*     30deg, */
/*     rgba(var(--mulberry), 0.5) 0% 40%, */
/*     rgba(var(--flame), 0.5) 40% 100% */
/*   ); */
/*   background-size: cover; */
/*   background-repeat: no-repeat; */
/* } */
/* article { */
/*   background: var(--bg-color); */
/* } */
