/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  --accent-bg-color: color-mix(in oklab, var(--bg-color), var(--accent-color));
  --accent-fg-color: color-mix(in oklab, var(--fg-color), var(--accent-color));
  /* timeline color; the range slider can't be customized without rebuilding it (the ticks, mainly) */
  --tl-fg-color: rgb(var(--midnight));
  --tl-bg-color: rgb(var(--granite));
  --county-fg-color: rgb(var(--midnight));
  --county-bg-color: color-mix(
    in oklab,
    rgb(var(--granite)),
    var(--county-accent-color)
  );
  --accent-color: rgb(var(--accent));
  --fg-color: rgb(var(--fg));
  --bg-color: rgb(var(--bg));
}
body.dark {
  --fg: var(--granite);
  --bg: var(--midnight);
  --accent: var(--lake);
  --county-accent-color: rgb(var(--sapphire));
}
body:not(.dark) {
  --fg: var(--midnight);
  --bg: var(--granite);
  --accent: var(--sapphire);
  --county-accent-color: rgb(var(--lake));
}
main {
  flex: 1;
}
/* Header styles */
.main-header {
  position: sticky;
  top: 0;
  z-index: 777;
  flex-basis: 50px;
  /* background-color: var(--accent-color); */
  background-color: var(--bg-color);
  color: var(--accent-color);
  padding: 3px 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: var(--shadow);
  border-bottom: 1px solid var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  color: var(--accent-color);
  font-size: 1.5rem;
  /* padding-inline: 1rem; */
}

.nav-menu {
  position: relative;
  width: 200px;
  border-bottom: 1px solid var(--fg-color);
}
.nav-menu span {
  /* width: 10ch; */
  padding: 3px 9px;
}
.nav-menu,
.nav-menu * {
  transition: var(--global-transition);
}
.nav-menu ul {
  background: var(--bg-color);
  list-style-type: none;
  opacity: 0;
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 878;
  max-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

.nav-menu.open ul,
.nav-menu:hover ul {
  pointer-events: auto;
  opacity: 1;
  top: 100%;
  left: 0;
  right: 0;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
}

.nav-menu li a {
  display: block;
  width: 100%;
  padding: 3px 9px;
  color: currentColor;
}
.nav-menu.open li,
.nav-menu:hover li {
  border: 1px solid var(--bg-color);
  /* overflow: auto; */
}
body:not(.dark) .nav-menu ul {
  filter: brightness(0.87);
  & li:hover {
    filter: brightness(0.5);
    border-color: var(--fg-color);
  }
}
.dark .nav-menu ul {
  filter: brightness(2);
  & li:hover {
    filter: brightness(1.5);
    border-color: var(--fg-color);
  }
}

.in-text-link {
  margin-inline: 0.5ch;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3px;
}
@media (max-width: 768px) {
  .nav-menu {
    width: unset;
  }
  .nav-menu ul {
    /* width: 200px !important; */
    width: 200px;
  }
  .nav-menu.open ul,
  .nav-menu:hover ul {
    /* left: -14ch !important; */
    left: auto !important;
  }
}

.text-page {
  width: min(1000px, 95vw);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.1rem;
  padding-bottom: 3rem;
}
.text-page :is(h1, h2, h3, h4) {
  margin-top: 0.76rem;
  border-bottom: 1px solid var(--fg-color);
}
.text-page li {
  margin: 0.5rem 0;
  /* list-style-type: none; */
  /* font-size */
}
.text-page table {
  border-collapse: collapse;
}
.text-page :is(th, td) {
  border: 1px solid rgba(var(--fg), 0.5);
  padding: 3px 9px;
}
.text-page thead {
  position: sticky;
  top: 60px;
  background: var(--bg-color);
}
.text-page :is(ul, ol) {
  padding-left: 2rem;
}
.text-page td {
  text-align: right;
  font-variant-numeric: tabular-nums;
  &:first-child {
    text-align: left;
  }
}
